---
export interface Props {
  title?: string;
  description?: string;
  ogTitle?: string;
  ogDescription?: string;
  ogType?: string;
  ogUrl?: string;
  ogImage?: string;
  ogImageWidth?: string;
  ogImageHeight?: string;
  twitterCard?: string;
  twitterTitle?: string;
  twitterDescription?: string;
  twitterImage?: string;
}

const { 
  title = 'Astro Basics',
  description,
  ogTitle,
  ogDescription,
  ogType,
  ogUrl,
  ogImage,
  ogImageWidth,
  ogImageHeight,
  twitterCard,
  twitterTitle,
  twitterDescription,
  twitterImage
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		
		{description && <meta name="description" content={description} />}
		
		{ogTitle && <meta property="og:title" content={ogTitle} />}
		{ogDescription && <meta property="og:description" content={ogDescription} />}
		{ogType && <meta property="og:type" content={ogType} />}
		{ogUrl && <meta property="og:url" content={ogUrl} />}
		{ogImage && (
			<>
				<meta property="og:image" content={ogImage} />
				{ogImageWidth && <meta property="og:image:width" content={ogImageWidth} />}
				{ogImageHeight && <meta property="og:image:height" content={ogImageHeight} />}
			</>
		)}
		
		{twitterCard && <meta name="twitter:card" content={twitterCard} />}
		{twitterTitle && <meta name="twitter:title" content={twitterTitle} />}
		{twitterDescription && <meta name="twitter:description" content={twitterDescription} />}
		{twitterImage && <meta name="twitter:image" content={twitterImage} />}
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
